<% provide(:title, "Questions") %>

<h1>Questions for you</h1>

<div class = "container">

  <ul class = "questions">
  <li>
      <% @questions.each do |question| %>
        <%= link_to question.user.first_name, question.user %> 
        asked on <%= question.created_at %><br>
        <div class = "title">
          <%= link_to question.title, question %> <br>
        </div>
        <div class = "description">
          <%= question.description %>
        </div>
      <% end %>
    </li>
  </ul>

</div>
